PORT=5000

MONGODB_URI=mongodb+srv://<username>:<password>@cluster.mongodb.net/assessforge?retryWrites=true&w=majority

REDIS_URL=rediss://default:your_upstash_password@your_upstash_endpoint:your_upstash_port

MISTRAL_API_KEY=your_mistral_api_key_here
MISTRAL_MODEL=mistral-large-latest

CLIENT_URL=http://localhost:3000